/*
.container{
    background-color: black;
    display: flex;
}


.div-rojo{
    width: 100px;
    height: 100px;
    display: block;
    background-color: red;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    
    
}
.div-verde{
    background-color: green;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: 100px;
    height: 100px;
    display: block;
}


.div-azul{
    width: 100px;
    height: 100px;
    display: block;
    background-color: blue;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
}
 .span-rojo{ 
    background-color: red;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: 100px;
    height: 100px;
    display: block;
    
}
.span-verde{
    background-color: green;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: 100px;
    height: 100px;
    display: block;
}

.max{
    margin: auto;
    border: 2px solid black;
    background-color: azure;
    max-width: 500px;
}
.width{
    margin: auto;
    border: 2px solid black;
    background-color: azure;
    width: 500px;
}

.hidden{
    display: none;
    /*visibility: hidden; Mantiene el espacio que tiene el elemento
}


p{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    word-spacing: 3px;
    color: azure;

}

div{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    max-width: 80%;
}

#position{
   position:sticky; /*Mantiene la posición, al scrolear se mantiene pegado al borde superior de la página
   position: fixed;   /*Se mantiene la posición indicada con "top, left, etc", al scrolear también mantiene su posición
   position: absolute; /*Se mantiene en una posición absoluta en el espacio ya sea indicada o no
   position: relative; /*Se mantiene en el lugar predeterminado, y se posiciona tomando como referencia su posición inicial, se mantiene independientemente del scrole
    background-color: rgb(130, 130, 235);
    color: red;
}
*/

.nav{
    background-color: rgb(191, 140, 233);
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;

}

a{
    text-decoration: none;
}


img{
    position: absolute;
    left: 0;
    top: 0;
    float: inherit;
    z-index: -1;
    width: 500px;
     /* 
    margin: 50px auto;
    display: block;*/
}

h1, h2, h3{
color:aliceblue;

}

body{
    background-color: rgb(75, 46, 103);
}

/*¿Cómo centrar un div y no ser parte del meme?*/
.center{
    border: 1px solid azure;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 300px;
    color: azure;
    background-color: rgb(127, 11, 236);
    overflow-x: scroll;
    overflow-wrap: normal;
    text-align: center;
}
.float{
    border: 1px solid azure;
    border-radius: 10px;
    padding: 10px;
    float: left;
    width: 300px;
    height: 300px;
    color: azure;
    background-color: rgb(127, 11, 236);
    text-align: center;
    overflow: scroll;
}