
/* Acá se le dará el estilo a todos los títulos */

h1{
  color: blue;  
}

div{
    background-color: aquamarine;
    width: 150px;
    height: 80px;
    border: 2px solid rgb(70, 120, 91);
    padding: 10px;
}

.overline{
    text-decoration-line: overline;
}

.line-through{
    text-decoration-line: line-through;
}

.underline{
    text-decoration-line: underline;
}

h2{
    color:hsl(246, 90%, 64%);
    text-align: center;
}