/* Este es el diseño de spacing.html */
div {
    background-color: rgb(250, 255, 210);
    width: 500px;
    height: auto;
    border: 2px solid rgb(182, 100, 1);
    padding: 20px;
    margin: 20px;
}

p {
    text-indent: 50px;
    letter-spacing: 1.5px;
    line-height: 1.5; /*esto es en formato factor 1 es a 100%*/
    word-spacing: 3px;
    font-family: 'Roboto Serif', serif;

    /* Horizontal, vertical y difuminado */
    text-shadow: 2px 2px 2px rgb(189, 185, 158);
}



h4{
    font-size: 2vw;
}

.serif{
font-family: 'Times New Roman', Times, serif;
}
.sans-serif{
font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}
.monospace{
font-family: 'Courier New', Courier, monospace;
}
.cursive{
font-family: 'lucida handwriting', cursive;
}
.fantasy{
font-family: 'copperplate', fantasy;
}

.style{
    font-style: italic;   
}
.weight{
    font-weight: lighter;
}
.variant{
    font-variant: small-caps;
}



h3{
    font: italic small-caps 3vw Arial, san-serif ;
}